<div class="container margin mt-5 text-center">
    <div class="row">
        <div class="col title">
            <h1 class="text text-center text-danger" style="font-size: 100px;">404</h1>
            <img src="https://th.bing.com/th/id/R.2cac49a9f9114e8b187820a7c977b93a?rik=8bSbOlsMc6%2fuOg&pid=ImgRaw&r=0" alt="no image" style="width:500px">
            <h3 class="text margin mt-5 text-dark" style="font-size:40px">page not found</h3>
            <h5 style="font-size: 30px;">looks like you're lost!!!!!</h5>
        </div>
    </div>
</div>
