<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-danger">Contact Managment Application
               
                <a routerLink="/contacts/add" class="btn btn-success"> <i class="fa-solid fa-user-plus"></i>&nbsp;Add New Contact</a>
            </h1>
           
            <p style="text-align: justify;">thi is dummy data: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, adipisci velit ut sapiente quisquam temporibus dolorem vitae dolor, laudantium nobis at modi quo possimus eum assumenda facere vel aliquid ducimus.</p>

            <div class="row">
                <div class="col-6">
                    <input (keyup)="search($event)" type="text" class="form-control" placeholder="search contacts">
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                </div>
            </div>

           

                <!--card design-->
                <div class="container mt-5">
                    <div class="row">
                    <div class="col-md-6 mt-3" *ngFor="let contact of allContacts | filter :searchKey:'name' ">
                        <div class="card list-group-item-secondary">
                            <div class="card-body ">
                                <div class="row align-items-center">
                                <div class="col-md-4">
                                    <img [src]="contact.photo" alt="no image" class="contactImage" height="180px">
                                </div>
                                <div class="col-md-7">
                                    <!--contact details-->
                                    <ul class="list-group">
                                        <li class="list-group-item">Name: <b>{{contact.name}}</b></li>
                                        <li class="list-group-item">Email: <b>{{contact.email}}</b></li>
                                        <li class="list-group-item">Mobile: <b>{{contact.mobile}}</b></li>
                                       
                                      </ul>
                                </div>
                                    <div class="col-md-1 d-flex flex-column justify-items-center align-items-center ">
                                        <a routerLink="/contacts/view/{{contact.id}}" class="btn btn-dark" data-toggle="tooltip" title="Contact info"><i class="fa-solid fa-circle-info"></i></a>
                                        <a routerLink="/contacts/update/{{contact.id}}" class="btn btn-dark mt-1" data-toggle="tooltip" title="edit contact"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <button (click)="deleteContact(contact.id)" type="button" class="btn btn-dark mt-1"><i class="fa-solid fa-trash-can" data-toggle="tooltip" title="delete"></i></button>
                                    </div>
                            </div>
                        </div>
                        </div>

                    </div>
                    <div class="col-6"></div>
                </div>
            </div>



        </div>
    </div>
</div>

